@import url('https://fonts.googleapis.com/css?family=Roboto:wght@200,300,400,500,600,700,800,900|Roboto+Condensed&family=Roboto:wght@200,300,400,500,600,700,800,900|Exo:wght@200,300,400,500,600,700,800,900|Josefin+Sans:wght@200,300,400,500,600,700,800,900|Oswald:wght@200,300,400,500,600,700,800,900');

:root{
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;

    --mainText: black;
    --secondaryText: cyan;

    --themeDotBorder: #24292e;

    --previewBg: #245786;
}


/*------- Animated Background -------------------------------------------------------------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
}

.area{  
    width: 100%;
    height: 100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #ff5a09;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    border: 7px solid #dd4b03;
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    border: 5px solid #dd4b03;
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    border: 5px solid #dd4b03;
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    border: 7px solid #dd4b03;
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    border: 5px solid #dd4b03;
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    border: 7px solid #dd4b03;
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    border: 10px solid #dd4b03;
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    border: 5px solid #dd4b03;
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    border: 5px solid #dd4b03;
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    border: 10px solid #dd4b03;
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}




/*------- Fonts & Buttons -------------------------------------------------------------------------------------------*/

html, body {
    scroll-behavior: smooth;
    background-color: #373737;
    padding: 12;
    margin: 6;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: #fff;
    z-index: 1;
}

h4{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 24px;
    margin: 20px;
}

h2, h3, h5, h6, strong{
    color: yellow;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h2 {font-size: 36px;}
h3 {font-size: 28px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}



p, label, input, textarea{   
    color: purple;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #ff5a09;
}

ul {
    list-style: none;
}

hr{
    background-color: #fff;
    height: 3px;
    width: 8%;
    margin: auto;
}

.btn-light{
    background-color: transparent;
    color: #ff5a09;
    border-color: #ff5a09;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    z-index: 1;
}

.btn-light:hover{
    background-color: #fff;
    color: #373737;
    border-color: #ff7300;
}



/*------- Landing Panel -------------------------------------------------------------------------------------------*/

.greeting-wrapper {
    position: absolute;
    display: grid;
    text-align: center;
    align-content: center;
    width: 100%;
    margin-top: 38vh;
    min-height: 10em;
}

.name-highlight{
    color: #ff5a09;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}



/*------- Nav -------------------------------------------------------------------------------------------*/

.nav-panel{
    background-color: #4e4e4e;
    width: 100%;
    overflow: auto;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ff5a09;
}

.sticky-top {
    position: sticky;
    top: 0;
    width: 100%;
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;

}

.nav-link {
    color: #ff5a09;
}

.nav-link:hover {
    color: #fff;
}



/*------- Portfolio -------------------------------------------------------------------------------------------*/

.portfolio-panel{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
}



/*------- About -------------------------------------------------------------------------------------------*/

.about-panel{
    background-color: red;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid blue;
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);
}

.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color: blue;
}

#green-mode{
    background-color: green;
}

#purple-mode{
    background-color: purple;
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}



/*------- Contact -------------------------------------------------------------------------------------------*/

.contact-panel{
    background-color: #393f4d;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.panel-header{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}

.lets-chat{
    color: #ff5a09;
    font-weight: 400;
}

.form-control{
    background-color: #fff;
    color: #393f4d;
    border: 1px solid #d4d4dc;
}

#preview{
    width: 300px;
    border: 1.5px solid red;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;

}

.corner{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1.5px solid red;
    background-color: #fff;
    position: absolute;
}

#corner-tl{
    top: 5px;
    left: -5px;
}

#corner-tr{
    top: 5px;
    right: -5px;
}

#corner-bl{
    bottom: 5px;
    left: -5px;
}

#corner-br{
    bottom: 5px;
    right: -5px;
}



/*------- Footer -------------------------------------------------------------------------------------------*/

.page-footer{
    border-top: 2px solid #ff5a09;
}

.list-inline{
    margin-bottom: 5px; 
}

.list-inline-item {
    color: #ff5a09;
    font-size: 3vh;
}

.footer-copyright{
    color: #fff;
    font-weight: 200;
}

.copyright-brand{
    color: #ff5a09;
    font-weight: 400;
}



/*------- Media Queries -------------------------------------------------------------------------------------------*/

@media screen and (min-width: 600px){
    form{
        min-width: 500px;
        margin: auto;
    }
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

@media screen and (min-width: 960px){
    .animated.slide-in {
        animation: slideInLeft 0.75s ease both;
    }
}

@media screen and (max-width: 600px){
    hr {
        width: 140px;
        margin: auto;
    }
}