<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Rob Ó Ceallaigh</title>
</head>
<body>
    
    <section class="s1">
        <div class="main-container">
            <div class="greeting-wrapper">
                <h1>Hi, I'm <span class="name-highlight">Rob Ó Ceallaigh</span>,
                <br>
                I'm a Full-Stack Web Developer</h1>
                <a href="#">Link</a>
            </div>
        </div>
    </section>

    <section class="s2">
        <div class="main-container" btn>
            About
        </div>
    </section>

    <section class="s1">
        <div class="main-container" btn>
            Portfolio
        </div>
    </section>

    <section class="s2">
        <div class="main-container" btn>
            Contact
        </div>
    </section>

</body>
</html>