<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Rob Ó Ceallaigh</title>
</head>
<body>
    <a id="top_page"></a>
    <section class="top_header">

        <div class="main-container">
            <div class="greeting-wrapper">
                <h1>Hi, I'm <span class="name-highlight">Rob</span>,</h1>
                <br>
                <h3>I'm a Web Developer that enjoys creating engaging,
                <br>
                responsive projects made simple. </h3>
                <a href="#view_my_work" type="button" class="btn btn-link">VIEW MY WORK</a>
            </div>
        </div>

        <div class="area" >
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>

<!------- Nav -------------------------------------------------------------------------------------------------->

    <nav class="nav-panel container col-sm-12 sticky-top">
        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#top_page">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#view_portfolio">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#view_about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#view_contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>

<!------- Portfolio -------------------------------------------------------------------------------------------------->

    <a id="view_my_work"></a>
    <a id="view_portfolio"></a>
    <section class="portfolio-panel container-fluid">
        <div class="panel-header animated slide-in" data-animation="slide-in">
            PORTFOLIO
            <hr>
        </div>
        <div class="row">
            <div class="card col-sm-3" style="width: 18rem;">
                <img src="static/images/placeholder.png" class="card-img-top" alt="placeholder-img">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card col-sm-3" style="width: 18rem;">
                <img src="static/images/placeholder.png" class="card-img-top" alt="placeholder-img">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card col-sm-3" style="width: 18rem;">
                <img src="static/images/placeholder.png" class="card-img-top" alt="placeholder-img">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card col-sm-3" style="width: 18rem;">
                <img src="static/images/placeholder.png" class="card-img-top" alt="placeholder-img">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card col-sm-3" style="width: 18rem;">
                <img src="static/images/placeholder.png" class="card-img-top" alt="placeholder-img">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card col-sm-3" style="width: 18rem;">
                <img src="static/images/placeholder.png" class="card-img-top" alt="placeholder-img">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </section>

<!------- About -------------------------------------------------------------------------------------------------->

    <a id="view_about"></a>
    <section class="about-panel container-fluid">
        <div class="panel-header animated slide-in" data-animation="slide-in">
            ABOUT
            <hr>
        </div>
        <div>
            <img id="profile_pic" src="static/images/profile_picture.jpeg" alt="profile_pic">
            <h5 style="text-align: center; line-height: 0;">Personalize Theme</h5>

            <div id="theme-options-wrapper">
                <div id="light-mode" class="theme-dot"></div>
                <div id="blue-mode" class="theme-dot"></div>
                <div id="green-mode" class="theme-dot"></div>
                <div id="purple-mode" class="theme-dot"></div>
                <h3>What I do</h3>
                <p>I'm a Junior Web Developer who helps clients build and update their websites so that they can increase and optimize their online prescence.</p>
            </div>
            <div>
            <p id="settings-note">Theme options will be saved for<br>your next visit</p>  
            </div>
        </div>
    </section>

<!------- Contact -------------------------------------------------------------------------------------------------->

    <a id="view_contact"></a>
    <section class="contact-panel container-fluid">
        <div class="panel-header animated slide-in" data-animation="slide-in">
            CONTACT
            <hr>
        </div>
        <div class="panel-header animated slide-in" data-animation="slide-in">
            <h4>Have a project that you would like to collabrate on,
            <br>
            or have an exciting opportunity lined up? <span class="lets-chat">Let's chat</span> about it.</h4>
        </div>
        <div>
            <form class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlInput1"></label>
                    <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Your Message" rows="6"></textarea>
                </div>
            </form>
        </div>
    </section>

<!------- Footer -------------------------------------------------------------------------------------------------->

    <footer class="page-footer font-small stylish-color-dark pt-4">
        <!--<div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
                    <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.
                    </p>
                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-2 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-2 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-2 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
            </li>
        </ul>

        <hr> -->

        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <i class="fab fa-github"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fab fa-linkedin-in"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fab fa-dribbble"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fab fa-codepen"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <i class="fab fa-instagram"> </i>
                </a>
            </li>
        </ul>

        <div class="footer-copyright text-center py-3">Rob Ó Ceallaigh
            <span class="copyright-brand"> © 2020</span>
        </div>

    </footer>

    <script src="js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>