<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Rob Ó Ceallaigh</title>
</head>
<body>
    <a id="top_page"></a>
    <section class="top_header">

        <div class="main-container">
            <div class="greeting-wrapper">
                <h1>Hi, I'm <span class="name-highlight">Rob Ó Ceallaigh</span>,
                <br>
                I'm a Full-Stack Web Developer</h1>
                <br>
                <a href="#view_my_work" type="button" class="btn btn-light">View my work</a>
            </div>
        </div>

        <div class="area" >
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>

    <nav id="nav-container" class="sticky-top">
        <a id="view_my_work"></a>
        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#top_page">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#view_portfolio">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#view_about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#view_contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>


    <a id="view_portfolio"></a>
    <section class="portfolio-container">
        <div>
            <img id="profile_pic" src="static/images/profile_picture.jpeg" alt="profile_pic">
            <h5 style="text-align: center; line-height: 0;">Personalize Theme</h5>

            <div id="theme-options-wrapper">
                <div id="light-mode" class="theme-dot"></div>
                <div id="blue-mode" class="theme-dot"></div>
                <div id="green-mode" class="theme-dot"></div>
                <div id="purple-mode" class="theme-dot"></div>
                <h3>What I do</h3>
                <p>I'm a Junior Web Developer who helps clients build and update their websites so that they can increase and optimize their online prescence.</p>
            </div>
            <div>
            <p id="settings-note">Theme options will be saved for<br>your next visit</p>  
            </div>
        </div>
    </section>

    <a id="view_about"></a>
    <section class="about-container">
        <div class="main-container" btn>
            About

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        </div>
    </section>

    <a id="view_contact"></a>
    <section class="contact-container">
        <div class="main-container" btn>
            Contact
        </div>
    </section>

    <script src="js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>